/* IMPORT */



/* NORMALIZE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    /* FUENTES */
    --font-title: 'Times New Roman', Times, serif;
    --font-text:Arial,sans-serif;

    /* COLORES */
    --white-color: white;
    --black-color: black;
    --footer-color: #545454;
}

/* HEADER */
header{
    height: min-content;
    background-color: var(--white-color);
    border-bottom: solid rgba(128, 128, 128, 0.985) 1px;
}

.header-superior{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 20px 0; 

    border-bottom: solid 0.5px rgba(128, 128, 128, 0.347);   
}

.header-inferior{
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    
    margin: 20px ;
    font-family: var(--font-text);
}

.service-portal{   
    font-weight: lighter;
}

.opciones-iconos{
    display: flex;
    flex-flow:wrap ;
    row-gap: 10px;
}

.opciones-iconos a{
    gap: 2px;
    color: var(--black-color);
    text-decoration: none;
}

.opciones-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    margin-right: 50px;

    font-family: var(--font-text);
    font-size: large;
}

.iconos-header{
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.iconos-header img{
    width: 40px;
    height: 40px;
}

/* MAIN */

main{
    height: 100vh;
    background-color: #f5f5f5;
}

/* cambio un poquito para atras */

/* SUPERIOR MAIN */

.container-superior-main{
    display: flex;
    flex-flow: wrap;
    height: min-content;
    width: 100wh;
    padding: 50px 0;

    color: var(--white-color);
    background-color: #001c3e;
    border-bottom:   11px solid #ff4f4f;
}

.container-superior-main h2{
    font-family: var(--font-text);
    font-size: 25px;
    font-weight: 25px;
}

.container-superior-main a{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--font-text);
    font-size: large;
    font-weight: lighter;
}


.iconos-superior-main{
    display: flex;
    align-items:center;
    font-size: 100px;
    color: #ff4f4f;
}

.sub-container-superior-main{
    display: flex;
    flex-flow: wrap;
    row-gap: 15px;
    width: 80%;


}

.segundo-main-superior{
    display: flex;
    flex-flow: wrap column;
    row-gap:15px;
    height: min-content;
    width: 55%;
    margin-left: 20px;
    padding-right: 20px;

    border-right: 1px solid var(--white-color);
}

.busqueda-con-texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--black-color) 1px solid;
    height: min-content;
    width: 100%;
}

.busqueda-con-texto input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: larger;
    padding-left: 15px;
}

.busqueda-con-texto i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    background-color: var(--white-color);
    width: 40px;
    height: 40px;
}

.links-segundo-main{
    display: flex;
    flex-flow: nowrap;
    gap: 20px;
}

.links-segundo-main a:nth-child(1):hover{
    text-decoration: underline;
}

.links-segundo-main a:nth-child(2):hover{
    text-decoration: underline;
}

.tercer-main-superior{
    display: flex;
    margin-left: 20px;
    flex-flow: column wrap;
    row-gap: 15px;

}

.caja-tercer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border: solid white 1px;

    height: min-content;
    width: 85%;
    
}

.tercer-main-superior i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-left: white solid 1px;
    
}



/* FOOTER */
footer{
    display: flex;
    flex-flow: column wrap ;
    align-items:left;
    padding: 15px 40px;
    gap: 15px;

    height: min-content;
    width: 100%;
    background-color: var(--footer-color);

    line-height: 1.5;
    color: var(--white-color);
    font-family: var(--font-text);
}


.aditional{
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    margin-left: 5%;
}

.aditional div{
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: 165px;

}

.aditional a{
    color: var(--white-color);
    text-decoration: none;
    font-weight:lighter;
    
}

.aditional a:hover, .opciones-header a:hover{
    text-decoration: underline;
}


.aditional p{
    font-weight:700;
}

.final-footer{
    margin-top: 50px;
    margin-left: 8%;
    margin-bottom: 5%;
}


/* MEDIAQUERY */

@media screen and (max-width: 480px){

    /* HEADER */
    .opciones-header{
        margin-right: 0;
    }

    .opciones-iconos{
        display:flex;
        flex-direction: column;
    }

    /* MAIN */
    .container-superior-main{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sub-container-superior-main{
        width: 100%;
    }

        .iconos-superior-main{
        font-size: 60px;
    }

    .segundo-main-superior{
        width: 100%;
        border: none;
    }

    .tercer-main-superior{
        width: 100%;
    }


    /* FOOTER */

    .aditional {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    .aditional div{
        display: flex;
        justify-content: center;
        width: 140px;
    }

}



@media (min-width:481px) and (max-width:768px){

    /* HEADER */
    .opciones-header{
        margin-right: 0;
    }

    .opciones-iconos{
        display:flex;
        flex-direction: column;
    }


    /* MAIN */
    .container-superior-main{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sub-container-superior-main{
        width: 100%;
    }

    .segundo-main-superior{
        width: 100%;
        border: none;
    }

    .tercer-main-superior{
        width: 100%;
    }
}
